streamlit
streamlit-keyup
asyncio
nest-asyncio
pandas
numpy
shapely
geojson
geopandas
scikit-learn
transformers
torch
pathlib
joblib
folium
streamlit-folium
matplotlib
seaborn
geopy
python-Levenshtein
python-dotenv
plotly
openai
requests
pillow
