streamlit
asyncio
nest-asyncio
pandas
numpy
geopandas
geojson
geopy
shapely
folium
scikit-learn
transformers
torch
pathlib
joblib
folium
streamlit-folium
matplotlib
seaborn
geopy
python-Levenshtein
python-dotenv
plotly
openai
requests
pillow
